.cardmaindiv {
  border: 1px solid #e0e0e0;
 border-radius: 18px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
 height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.cardmaindiv:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}
.externalcss{
margin-left: 17px;
font-size: 10px;

}
 .profile-link {
  text-decoration: none;
  color: #91c7d8;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 17px;
  font-size: 16px;
  margin-top: -10px;
 
}

.profile-link:hover {
  color: #089d6e;
  text-decoration: underline;
  transform: translateY(-2px);
}